/* Global Styles */

* {
    font-size: 105%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navigation */

.navbar {
    background-color: #2e865f;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Great Vibes', cursive;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #34c759;
}

/* Hero Section */

.hero {
    background-image: url('../src/img/6417740.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: #fff;
}

.hero .container {
    max-width: 800px; /* adjust the max-width to your liking */
    margin: 0 auto;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero .tagline {
    font-size: 24px;
    color: #ccc;
    margin-bottom: 40px;
}

.hero .btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}

.hero .btn:hover {
    background-color: #23527c;
}

/* Features Section */

.features {
    background-color: #f7f7f7;
    padding: 100px 0;
}

.section-title {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #2e865f;
}

.feature-item {
    text-align: center;
    margin-bottom: 40px;
}

.feature-item i {
    font-size: 3rem;
    color: #34c759;
    margin-bottom: 20px;
}

.feature-item h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #8bc34a;
}

.feature-item p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: #777;
}

/* About Section */

.about .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px;
}

.about h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.about p {
    font-size: 1.2rem;
    color: #666;
}

/* Our Mission and Our Vision styles */

.our-mission,
.our-vision {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

.our-mission h3,
.our-vision h3 {
    color: #2e865f;
}

.our-mission p,
.our-vision p {
    color: #666;
}

/* Stack them side by side */
.our-mission,
.our-vision {
    width: 48%; /* adjust the width to create a small gap between them */
    margin: 1%;
    float: left;
}


/* Contact Section */

.contact {
    background-color: #2e865f;
    color: #fff;
    padding: 100px 0;
}

.contact div h2 {
    color: #fff;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.contact-form button {
    background-color: #34c759;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.contact-form button:hover {
    background-color: #2e865f;
}

/* Footer */

.footer {
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

.footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #34c759;
}

/* Media Queries */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero.tagline {
        font-size: 1.2rem;
    }
    
    .section-title {
        font-size: 2rem;
    }
    
    .feature-item i {
        font-size: 2rem;
    }

    .feature-item h3 {
        font-size: 1.5rem;
    }

    .about p {
        font-size: 1.2rem;
    }
}

/* Media query for iPad Mini landscape screen size (768px) */
@media (max-width: 768px) {
    .our-mission,
    .our-vision {
        width: 100%;
        margin: 20px 0;
        float: none;
    }
}